@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Netflix';
    src: url('../fonts/NetflixSans-Light.otf');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Netflix';
    src: url('../fonts/NetflixSans-Regular.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Netflix';
    src: url('../fonts/NetflixSans-Medium.otf');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Netflix';
    src: url('../fonts/NetflixSans-Bold.otf');
    font-weight: bold;
    font-style: normal;
}

body {
    font-family: 'Netflix', sans-serif;
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }

    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }
    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
    }
}

@layer base {
    :root {
        --plex-accent: 42 97% 46%;
        --background: 240 10% 3.9%;
        --alternative: 21, 21, 23;
        --foreground: 0 0% 98%;
        --card: 240 10% 3.9%;
        --card-foreground: 0 0% 98%;
        --popover: 240 10% 3.9%;
        --popover-foreground: 0 0% 98%;
        --primary: 0 0% 98%;
        --primary-foreground: 240 5.9% 10%;
        --secondary: 240 3.7% 15.9%;
        --secondary-foreground: 0 0% 98%;
        --muted: 240 3.7% 15.9%;
        --muted-foreground: 240 5% 64.9%;
        --accent: 240 3.7% 15.9%;
        --accent-foreground: 0 0% 98%;
        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: 0 0% 98%;
        --border: 240 3.7% 15.9%;
        --input: 240 3.7% 15.9%;
        --ring: 240 4.9% 83.9%;
        --chart-1: 220 70% 50%;
        --chart-2: 160 60% 45%;
        --chart-3: 30 80% 55%;
        --chart-4: 280 65% 60%;
        --chart-5: 340 75% 55%;
        --radius: 0.5rem;
    }

    .dark {
        --plex-accent: 42 97% 46%;
        --background: 240 10% 3.9%;
        --alternative: 21, 21, 23;
        --foreground: 0 0% 98%;
        --card: 240 10% 3.9%;
        --card-foreground: 0 0% 98%;
        --popover: 240 10% 3.9%;
        --popover-foreground: 0 0% 98%;
        --primary: 0 0% 98%;
        --primary-foreground: 240 5.9% 10%;
        --secondary: 240 3.7% 15.9%;
        --secondary-foreground: 0 0% 98%;
        --muted: 240 3.7% 15.9%;
        --muted-foreground: 240 5% 64.9%;
        --accent: 240 3.7% 15.9%;
        --accent-foreground: 0 0% 98%;
        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: 0 0% 98%;
        --border: 240 3.7% 15.9%;
        --input: 240 3.7% 15.9%;
        --ring: 240 4.9% 83.9%;
        --chart-1: 220 70% 50%;
        --chart-2: 160 60% 45%;
        --chart-3: 30 80% 55%;
        --chart-4: 280 65% 60%;
        --chart-5: 340 75% 55%;
    }
}

@layer base {
    * {
        @apply border-border;
    }

    body {
        @apply bg-background text-foreground;
    }

    .without-ring {
        @apply focus:ring-0 focus:ring-offset-0 focus-within:ring-0 focus-within:ring-offset-0 focus-visible:ring-0 focus-visible:ring-offset-0 ring-0 ring-offset-0 focus:outline-0 focus-within:outline-0 focus-visible:outline-0 outline-0 focus:border-0 focus-within:border-0 focus-visible:border-0 border-0;
    }
}

.hover-time {
    background-color: hsl(var(--background));
}

.ui-video-seek-slider .hover-time .preview-screen {
    width: 240px !important;
    height: 135px !important;
    background-color: transparent !important;
}

.ui-video-seek-slider .track .main .connect {
    background-color: hsl(var(--plex-accent));
}

.ui-video-seek-slider .thumb .handler {
    background-color: hsl(var(--plex-accent));
}

.ui-video-seek-slider > .hover-time.active[data-testid="hover-time"] {
    background-color: transparent !important;
    padding: 0 !important;
}

.ui-video-seek-slider > .hover-time.active[data-testid="hover-time"] .preview-screen {
    background-color: transparent !important;
    padding: 0 !important;
}

.logo-shift {
    transition: transform 0.8s ease;
    transform: translateY(var(--h));
}

.fade-down {
    animation: fadeDown 0.8s ease forwards;
}

@keyframes fadeDown {
    0% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateY(100%);
    }
}
